<footer>
      <div class="f-info">
            <div class="f-info-socials"></div>
            <div>WANDERLUST pRIVATE lIMITED</div>
            <div class="f-info-links">
                  <a href="/privacy">Privacy</a>
                  <a href="/terms">Terma</a>
            </div>
      </div>
</footer>