<%- include('layouts/boilerplate') %>

      <!-- <form action="/generate-itinerary" method="POST">
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>

            <label for="preferences">Preferences:</label>
            <input type="text" id="preferences" name="preferences" required>

            <button type="submit">Generate Itinerary</button>
      </form> -->
      <h2>title</h2>
      <h2>content</h2>